
   .section {
      display: flex;
      align-items: center;
      gap: 30px;
      width: 80%;
      margin: 50px auto;
    }
    .section img {
      width: 300px;
      border-radius: 10px;
    }
    .content {
      font-family: 'Times New Roman', Times, serif;
      font-size: 20px;
      line-height: 1.8;
    }
    p {
      text-align: center;
    }
    .content h2 {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 20px;
      text-align: center;
    }
    .content h3 {
      font-size: 25px;
      font-weight: 700;
      text-align: left;
      margin: 40px auto 20px auto;
      width: 50%;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .desc{
      width: 50%;
      margin: 10px auto 30px auto;
      font-size: 20px;
      line-height: 1.8;
      text-align: left;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .section img {
      margin: 0 auto;
      display: block;
    }
  